#logo{
    background-color:#321A27;
   
   height: auto;
   padding-top: 10px;
   padding-bottom: 40px;

}

#logo>div>p{
font-size:34px;
text-align: center;
font-weight: bolder;
color: white;
font-family:sans-serif ;
}
#logo>div>hr{
     margin-left:45%;
     margin-right: 45%;
     margin-top: -20px;
     border: 2px solid red;
     
}
#logo>div:nth-child(2){
   display: flex;
   flex-wrap: wrap;


text-align: center;

   margin-top:10%;
   gap: 30px;
   width: 80%;
   
   margin: auto;
   
     justify-content: center;
   
   
}#logo>div:nth-child(3){
   
   
   
     

      display: flex;
   flex-wrap: wrap;


text-align: center;

 
   gap: 30px;
   width: 80%;
   
   margin: auto;
   margin-top:5%;
   justify-content: center;
}

#logo>div:nth-child(2)>div{
   height: 100px;
   width: 200px;
    background-color: white;
    border: 1px solid #FDD1D3;
border-radius: 10px;
box-shadow:  rgba(220, 189, 189, 0.916) 1.95px 1.95px 2.6px;
margin-top: 40px;
} 
#logo>div:nth-child(2)>div>img{
   margin: auto;
   margin-top: 15%;
    border: 1px solid #FDD1D3;
border-radius: 10px;
box-shadow:  rgba(220, 189, 189, 0.916) 1.95px 1.95px 2.6px; 
} 
   #logo>div:nth-child(3)>div{
    border: 1px solid red;
   height: 100px;
   width: 200px;
    background-color: white;
    border: 1px solid #FDD1D3;
border-radius: 10px;
box-shadow:  rgba(220, 189, 189, 0.916) 1.95px 1.95px 2.6px;

} 
#logo>div:nth-child(3)>div>img{
   
   margin-top: 15%;
    border: 1px solid #FDD1D3;
border-radius: 10px;
box-shadow:  rgba(220, 189, 189, 0.916) 1.95px 1.95px 2.6px; 
} 



